<!-- Jumbotron -->
<div id="HeaderImg" class="text-center bg-light"
    style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('assets/img/pexels-maria-orlova-4947406.jpg')"
    data-aos="fade-up">
    <div class="hero-text">
        <h1>I am Charl Bester</h1>
        <br>
        <p class="d-none d-sm-block">I am seeking to pursue an opportunity with a reputable organisation that will
            enable me to utilise and
            enhance my software development knowledge and skills while receiving growth opportunities.</p>
        <p>I am a self-disciplined and highly motivated Junior Software Engineer with experience in all stages of the
            development cycle for agile software projects. I am adept in quickly mastering new technologies and working
            in both team and self-directed settings to drive product success and process efficiency. I have strong
            troubleshooting and problem-solving skills with a passion for delivering quality.</p>
    </div>
</div>
<!-- Jumbotron -->

<app-skills></app-skills>