<Section id="education" data-aos="fade-down">
    <div style="    width: 95%;
    margin: auto;">
        <div>
            <h1>E D U C A T I O N</h1>
        </div>

        <div class="row" style="margin-top: 3%;">
            <div class="col-sm-6">
                <div class="card" style="background-color: inherit;">
                    <img class="rounded-circle d-none d-sm-block" src="assets/img/eldo.jpg" alt="Card image cap"
                        height="140" width="140" style="margin: auto;">
                    <div class="card-body">
                        <h4 class="card-title">National Senior Certificate(NQF level: Level 4)</h4><br>
                        <p class="card-text">Institution: Eldoraigne High School</p>
                        <p class="card-text">Graduation Year: 2017</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="card" style="background-color: inherit;">
                    <img class="rounded-circle d-none d-sm-block" src="assets/img/bc.jpg" alt="Card image cap"
                        height="140" width="140" style="margin: auto;">
                    <div class="card-body">
                        <h4 class="card-title">Bachelor of Computing Honours With
                            Specialisation in Software
                            Engineering(NQF level: Level 8)</h4><br>
                        <p class="card-text">Institution: Belgium Campus</p>
                        <p class="card-text">Credits: 506</p>
                        <p class="card-text">SAQA ID: 62689</p>
                        <p class="card-text">Graduation Year: 2022 - February</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</Section>