<section id="skills" class="page-section" data-aos="fade-down">
    <div class="row mx-auto" style="width: 95%; padding-top: 4%;">
        <div class="col-sm-4" style="margin-bottom: 2%;">
            <div class="card h-100">
                <div class="card-body">
                    <h4 id="Caption" class="text-center">Skills</h4>

                    <ul class="list-unstyled">
                        <li class="card-text">.Net Development</li>
                        <li class="card-text">SQL Server</li>
                        <li class="card-text">SQL</li>
                        <li class="card-text">Flutter</li>
                        <li class="card-text">Dart</li>
                        <li class="card-text">Angular</li>
                        <li class="card-text">Java</li>
                        <li class="card-text">Javascript</li>
                        <li class="card-text">GIT</li>
                        <li class="card-text">HTML</li>
                        <li class="card-text">CSS</li>
                        <li class="card-text">Office365</li>
                    </ul>

                </div>
            </div>
        </div>

        <div class="col-sm-4" style="margin-bottom: 2%;">
            <div class="card h-100">
                <img class="d-none d-sm-block" src="assets/img/me.jpg" height="500vh" alt="Card image cap"
                    style="margin: auto;">

            </div>
        </div>

        <div class="col-sm-4" style="margin-bottom: 2%;">
            <div class="card h-100" style="background-color: inherit;">
                <div class="card-body">
                    <h4 id="Caption" class="text-center"></h4>
                    <p class="card-text"></p>
                    <p class="card-text"></p>
                    <p class="card-text"></p>
                    <p class="card-text"></p>
                    <p class="card-text"></p>
                    <p class="card-text"></p>
                    <p class="card-text"></p>
                    <p class="card-text"></p>
                    <p class="card-text"></p>
                    <p class="card-text"></p>
                    <p class="card-text"></p>


                    <h4 id="Caption" class="text-center">Attributes</h4>

                    <ul class="list-unstyled">
                        <li class="card-text">.Leadership</li>
                        <li class="card-text">Team Player</li>
                        <li class="card-text">Organised</li>
                        <li class="card-text">Quality Driven</li>
                        <li class="card-text">Self-disciplined</li>
                        <li class="card-text">Motivated</li>
                        <li class="card-text">Creative Thinking</li>
                        <li class="card-text">Analytical Problem-solving</li>
                        <li class="card-text">Quick Learner</li>
                        <li class="card-text">Adaptability</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>