<section id="projects" data-aos="fade-down">
    <div style="width: 95%; margin: auto;">
        <div style="padding: 5%;">
            <h1 id="Caption">Personal Projects</h1>
        </div>
        <div class="row mx-auto" style="width: 95%;">
            <div class="col-sm-4" style="margin-bottom: 2%;">
                <div class="card h-100">
                    <div class="card-body">
                        <h4>University 2nd Year Project</h4>
                        <p class="card-text" style="font-weight: bolder;">Responsibilities:</p>
                        <ul>
                            <li class="card-text">I developed all the user interfaces that was required for the solution
                            </li>
                            <li class="card-text">Developed the backend and the database</li>
                            <li class="card-text">I connected the database with our C# Desktop application, and wrote
                                all the stored Procedures required to communicate between the application and database
                            </li>
                            <li class="card-text">Create email function</li>
                            <li class="card-text">I gathered all the necessary requirements, and assigned tasks to team
                                members</li>
                        </ul>

                        <p class="card-text" style="font-weight: bolder;">Technologies Used:</p>
                        <ul>
                            <li class="card-text">C#</li>
                            <li class="card-text">SQL Server</li>
                            <li class="card-text">GIT</li>
                            <li class="card-text">BitBucket</li>
                        </ul>

                        <p class="card-text"><a style="font-weight: bolder;">Methodologies Used:</a> Waterfall Method
                        </p>

                        <p class="card-text"><a style="font-weight: bolder;">Period:</a> 3 Weeks</p>

                        <p class="card-text"><a style="font-weight: bolder;">Team Size:</a> 3 Members</p>

                        <p style="font-weight: bolder;" class="card-text"><a target="_blank"
                                href="https://bitbucket.org/bcprg282project/bester_hardy_muir_prj_prg282/src/master/">Project
                                Link</a></p>
                    </div>
                </div>
            </div>

            <div class="col-sm-4" style="margin-bottom: 2%;">
                <div class="card h-100">
                    <div class="card-body">
                        <h4>University 3rd Year Project</h4>
                        <p class="card-text">Responsibilities:</p>
                        <ul>
                            <li class="card-text">Communicated with PSU(The Pennsylvania State University) team members
                                and discussed project milestones
                            </li>
                            <li class="card-text">Lead the Belgium Campus team</li>
                        </ul>

                        <p class="card-text">About Project:</p>
                        <ul>
                            <li class="card-text">Designed a virtual concept for our final solution for the agricultural
                                engineering sector</li>
                            <li class="card-text">Virtually presented our final solution to Belgium Campus and The
                                Pennsylvania University faculty.</li>
                        </ul>

                        <p class="card-text"><a style="font-weight: bolder;">Methodologies Used</a>: Agile</p>

                        <p class="card-text"><a style="font-weight: bolder;">Period:</a> 5 Months</p>

                        <p class="card-text"><a style="font-weight: bolder;">Team Size:</a> 8 Members</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-4" style="margin-bottom: 2%;">
                <div class="card h-100">
                    <div class="card-body">
                        <h4>Sharp-Shooting Project</h4>
                        <p style="font-weight: bolder;" class="card-text">Responsibilities:</p>
                        <ul>
                            <li class="card-text">I developed all the user interfaces that was required for the solution
                            </li>
                            <li class="card-text">Developed the backend and the database</li>
                            <li class="card-text">I connected the database with our C# Desktop application, and wrote
                                all the stored Procedures required to communicate between the application and database
                            </li>
                        </ul>

                        <p style="font-weight: bolder;" class="card-text">Technologies Used</p>
                        <ul>
                            <li class="card-text">C#</li>
                            <li class="card-text">SQL Server</li>
                        </ul>

                        <p class="card-text"><a style="font-weight: bolder;">Methodologies Used:</a> Waterfall Method
                        </p>

                        <p class="card-text"><a style="font-weight: bolder;">Period:</a> 2 Weeks</p>

                        <p class="card-text"><a style="font-weight: bolder;">Team Size:</a> 1 Member</p>

                        <p style="font-weight: bolder;" class="card-text"><a target="_blank"
                                href="https://github.com/Bester-Dev-Creater/Skyfskiet">Project
                                Link</a></p>
                    </div>
                </div>
            </div>

            <div class="col-sm-4" style="margin-bottom: 2%;">
                <div class="card h-100">
                    <div class="card-body">
                        <h4>Angular Personal Website</h4>
                        <p class="card-text">Responsibilities:</p>
                        <ul>
                            <li class="card-text">I developed the user interfaces that was required for the website
                            </li>
                            <li class="card-text">I hosted the app on firebase and added analytics to the website</li>
                            <li class="card-text">I added the website to google search console
                            </li>
                            <li class="card-text">Routed the website hosting to the proper domain</li>
                        </ul>

                        <p class="card-text">Technologies Used</p>
                        <ul>
                            <li class="card-text">Angular11</li>
                            <li class="card-text">Bootstrap</li>
                            <li class="card-text">HTML5</li>
                            <li class="card-text">CSS3</li>
                            <li class="card-text">Javascript</li>
                            <li class="card-text">Firebase</li>
                            <li class="card-text">Google Analytics</li>
                        </ul>

                        <p class="card-text">Methodologies Used: Agile</p>

                        <p class="card-text">Period: 3 Weeks</p>

                        <p class="card-text">Team Size: 1 Members</p>

                        <p class="card-text"><a target="_blank"
                                href="https://github.com/Bester-Dev-Creater/MyPortofolioWebsite">Project
                                Link</a></p>
                    </div>
                </div>
            </div>

            <div class="col-sm-4" style="margin-bottom: 2%;">
                <div class="card h-100">
                    <div class="card-body">
                        <h4>Flutter Vehicle Log Book Application - IN PLANNING</h4>
                        <p class="card-text">Requirements:</p>
                        <ul>
                            <li class="card-text">I will need to develop all user interfaces
                            </li>
                            <li class="card-text">Application will need to use bluetooth and gps modules from the phone</li>
                            <li class="card-text">The application will need to work on both IOS and Android.
                            </li>
                            <li class="card-text">The application needs to automatically log the trip when movement is detected after connecting to a bluetooth device</li>
                            <li class="card-text">The application needs to be user friendly and easy to use and understand</li>
                            
                        </ul>

                        <p class="card-text">Technologies To Be Used</p>
                        <ul>
                            <li class="card-text">Flutter</li>
                            <li class="card-text">Dart</li>
                        </ul>

                        <p class="card-text">Methodologies To Be Used: Agile</p>

                        <p class="card-text">Predicted Period: 6 Weeks</p>

                        <p class="card-text">Team Size: 1 Members</p>

                        <!-- <p class="card-text"><a target="_blank"
                                href="https://bitbucket.org/bcprg282project/bester_hardy_muir_prj_prg282/src/master/">Project
                                Link</a></p> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>