<Section id="experience" data-aos="fade-down">
    <div style="width: 95%; margin: auto;">
        <div >
            <h1 id="Caption">PROFESSIONAL EXPERIENCE</h1>
        </div>

        <div class="row mx-auto" style="width: 95%; margin-top: 3%;">
            <div class="col-sm-4" style="margin-bottom: 2%;">
                <div class="card h-100">
                    <img class="rounded-circle d-none d-sm-block" src="assets/img/st.png" alt="Card image cap"
                        height="140" width="140" style="margin: auto;">
                    <div class="card-body">
                        <h4>Session Telecoms</h4>
                        <p class="card-text">Junior Support Engineer</p>
                        <p class="card-text">February 2019 - December 2020</p>
                        <p class="card-text">Duties</p>
                        <ul>
                            <li class="card-text">Offered after-hour support for business-critical issues.</li>
                            <li class="card-text">Escalated serious problems to senior team members.</li>
                            <li class="card-text">Logged non-business critical issues.</li>
                            <li class="card-text">Compiled weekly support-related issue and solution reports.</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-sm-4" style="margin-bottom: 2%;">
                <div class="card h-100">
                    <img class="rounded-circle d-none d-sm-block" src="assets/img/ig.png" alt="Card image cap"
                        height="140" width="140" style="margin: auto;">
                    <div class="card-body">
                        <h4>iPlan Global</h4>
                        <p class="card-text">Junior Software Developer</p>
                        <p class="card-text">December 2020 - Current</p>
                        <p class="card-text">Duties:</p>
                        <ul>
                            <li class="card-text">Assisting with software design and writing and maintaining code.</li>
                            <li class="card-text">Monitoring the technical performance of internal systems.</li>
                            <li class="card-text">Responding to requests from the senior management team.</li>
                            <li class="card-text">Writing reports and conducting development tests as requested.</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-sm-4" style="margin-bottom: 2%;">
                <div class="card h-100" style="background-color: inherit;">
                    <img class="rounded-circle d-none d-sm-block" src="assets/img/tw.png" alt="Card image cap"
                        height="140" width="140" style="margin: auto;">
                    <div class="card-body">
                        <h4>Thinwood</h4>
                        <p class="card-text">Software Engineer</p>
                        <p class="card-text">May 2021 - Current</p>
                        <p class="card-text">Duties:</p>
                        <ul>
                            <li class="card-text">Assisting with software design and writing and maintaining code.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</Section>